<header class="header" id="HOME">
<!-- nav bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>       
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#HOME" class="nav-item">ACCUEIL</a></li>          
            <li><a href="#SCREEN" class="nav-item">PHOTOS</a></li>
            <li><a href="#CONTACT" class="nav-item">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- end nav bar -->
    <div class="header-overlay">
      <div class="container header-container">
        <div class="row">
          <div class="col-md-8">
            <div class="header-text">
              <h1>Surfin Waves</h1>             
            </div>            
          </div>
          <div class="col-md-3 col-md-offset-1">
          </div>
        </div>
      </div>
    </div>
  </header>